@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;

  /* Main theme colors */
  --background: oklch(96.243% 0.01589 99.055);
  --foreground: oklch(20.922% 0.05769 248.983);

  --card: oklch(96.243% 0.01589 99.055);
  --card-foreground: oklch(20.922% 0.05769 248.983);

  --popover: oklch(96.243% 0.01589 99.055);
  --popover-foreground: oklch(20.922% 0.05769 248.983);

  --primary: oklch(43.495% 0.00005 271.152);
  --primary-foreground: oklch(96.243% 0.01589 99.055);

  --secondary: oklch(70.411% 0.06359 129.574);
  --secondary-foreground: oklch(20.922% 0.05769 248.983);

  --muted: oklch(70.411% 0.06359 129.574);
  --muted-foreground: oklch(43.495% 0.00005 271.152);

  --accent: oklch(70.411% 0.06359 129.574);
  --accent-foreground: oklch(20.922% 0.05769 248.983);

  --destructive: oklch(56.797% 0.20018 26.391);
  /* red tone for destructive */

  --border: oklch(89.913% 0.01485 98.359);
  --input: oklch(89.913% 0.01485 98.359);
  --ring: oklch(43.495% 0.00005 271.152);

  /* Chart colors */
  --chart-1: oklch(43.495% 0.00005 271.152);
  --chart-2: oklch(70.411% 0.06359 129.574);
  --chart-3: oklch(20.922% 0.05769 248.983);
  --chart-4: oklch(65.184% 0.07819 136.188);
  --chart-5: oklch(52.78% 0.00006 271.152);

  /* Sidebar */
  --sidebar: oklch(96.243% 0.01589 99.055);
  --sidebar-foreground: oklch(20.922% 0.05769 248.983);
  --sidebar-primary: oklch(43.495% 0.00005 271.152);
  --sidebar-primary-foreground: oklch(96.243% 0.01589 99.055);
  --sidebar-accent: oklch(70.411% 0.06359 129.574);
  --sidebar-accent-foreground: oklch(20.922% 0.05769 248.983);
  --sidebar-border: oklch(89.913% 0.01485 98.359);
  --sidebar-ring: oklch(43.495% 0.00005 271.152);
}

.dark {
  --background: oklch(20.922% 0.05769 248.983);
  --foreground: oklch(96.243% 0.01589 99.055);

  --card: oklch(28.097% 0.06958 251.809);
  --card-foreground: oklch(96.243% 0.01589 99.055);

  --popover: oklch(28.097% 0.06958 251.809);
  --popover-foreground: oklch(96.243% 0.01589 99.055);

  --primary: oklch(43.495% 0.00005 271.152);
  --primary-foreground: oklch(96.243% 0.01589 99.055);

  --secondary: oklch(70.411% 0.06359 129.574);
  --secondary-foreground: oklch(96.243% 0.01589 99.055);

  --muted: oklch(70.411% 0.06359 129.574);
  --muted-foreground: oklch(89.913% 0.01485 98.359);

  --accent: oklch(70.411% 0.06359 129.574);
  --accent-foreground: oklch(96.243% 0.01589 99.055);

  --destructive: oklch(65.39% 0.19256 25.125);
  --border: rgba(147, 168, 126, 0.2);
  --input: rgba(147, 168, 126, 0.15);
  --ring: oklch(43.495% 0.00005 271.152);

  --chart-1: oklch(43.495% 0.00005 271.152);
  --chart-2: oklch(70.411% 0.06359 129.574);
  --chart-3: oklch(96.243% 0.01589 99.055);
  --chart-4: oklch(65.184% 0.07819 136.188);
  --chart-5: oklch(52.78% 0.00006 271.152);

  --sidebar: oklch(28.097% 0.06958 251.809);
  --sidebar-foreground: oklch(96.243% 0.01589 99.055);
  --sidebar-primary: oklch(43.495% 0.00005 271.152);
  --sidebar-primary-foreground: oklch(96.243% 0.01589 99.055);
  --sidebar-accent: oklch(70.411% 0.06359 129.574);
  --sidebar-accent-foreground: oklch(96.243% 0.01589 99.055);
  --sidebar-border: oklch(70.411% 0.06359 129.574 / 0.2);
  --sidebar-ring: oklch(43.495% 0.00005 271.152);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: var(--font-inter) !important;
  background: white;
}

button {
  cursor: pointer;
}

 .shadow-custom-offset {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  }

  .shadow-inset-outline {
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 1);
  }

  .shadow-offset-8 {
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  }

  .shadow-inset-border {
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 1);
  }