@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-title: var(--title);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-card-title: var(--card-title);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.65rem;

  /* Main theme colors */
  --background: #ffffff;
  --foreground: #2a2a2a;
  --title: #b8b08c;

  --card: #ffffff;
  --card-foreground: #2a2a2a;
  --card-title: #b8b08c;

  --popover: #ffffff;
  --popover-foreground: #2a2a2a;

  --primary: #93a87e;
  --primary-foreground: #ffffff;

  --secondary: #515151;
  --secondary-foreground: #c4d0b9;

  --muted: #f5f5f5;
  --muted-foreground: #515151;

  --accent: #93a87e;
  --accent-foreground: #304437;

  --destructive: #ef4444;

  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #93a87e;

  /* Chart colors */
  --chart-1: #93a87e;
  --chart-2: #304437;
  --chart-3: #515151;
  --chart-4: #c4d0b9;
  --chart-5: #2a2a2a;

  /* Sidebar */
  --sidebar: #ffffff;
  --sidebar-foreground: #2a2a2a;
  --sidebar-primary: #93a87e;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #c4d0b9;
  --sidebar-accent-foreground: #304437;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #93a87e;
}

.dark {
  --background: #27282a;
  --foreground: #ffffff;
  --title: #b8b08c;

  --card: #304437;
  --card-foreground: #ffffff;
  --card-title: #b8b08c;

  --popover: #304437;
  --popover-foreground: #ffffff;

  --primary: #93a87e;
  --primary-foreground: #27282a;

  --secondary: #515151;
  --secondary-foreground: #c4d0b9;

  --muted: #515151;
  --muted-foreground: #c4d0b9;

  --accent: #93a87e;
  --accent-foreground: #27282a;

  --destructive: #f87171;
  --border: #515151;
  --input: #515151;
  --ring: #93a87e;

  --chart-1: #93a87e;
  --chart-2: #c4d0b9;
  --chart-3: #ffffff;
  --chart-4: #515151;
  --chart-5: #304437;

  --sidebar: #304437;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #93a87e;
  --sidebar-primary-foreground: #27282a;
  --sidebar-accent: #c4d0b9;
  --sidebar-accent-foreground: #27282a;
  --sidebar-border: #515151;
  --sidebar-ring: #93a87e;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: var(--font-inter) !important;
  background: white;
}

.secondaryFont {
  font-family: var(--font-quantico) !important;
}

button {
  cursor: pointer;
}

.shadow-custom-offset {
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.shadow-inset-outline {
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 1);
}

.shadow-offset-8 {
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.shadow-inset-border {
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 1);
}